<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
const form = useForm({
    brand: '',
    plate: '',
    licence_required: '',
});

const submit = () => {
    form.post(route('vehicles.store'), {
        onFinish: () => form.reset('brand', 'plate', 'licence_required'),
    });
};
</script>

<template>
    <AppLayout title="Vehiculos">
    <Head title="Crear Vehículo" />

    <div class="max-w-2xl mx-auto py-10">
        <form @submit.prevent="submit" class="space-y-6">
            <div>
                <InputLabel for="brand" value="Marca" />
                <TextInput
                    id="brand"
                    v-model="form.brand"
                    type="text"
                    class="mt-1 block w-full"
                    required
                    autofocus
                />
                <InputError class="mt-2" :message="form.errors.brand" />
            </div>

            <div class="mt-4">
                <InputLabel for="plate" value="Placa" />
                <TextInput
                    id="plate"
                    v-model="form.plate"
                    type="text"
                    class="mt-1 block w-full"
                    required
                />
                <InputError class="mt-2" :message="form.errors.plate" />
            </div>

            <div class="mt-4">
                <InputLabel for="licence_required" value="Licencia Requerida" />
                <TextInput
                    id="licence_required"
                    v-model="form.licence_required"
                    type="text"
                    class="mt-1 block w-full"
                    required
                    maxlength="1"
                />
                <InputError class="mt-2" :message="form.errors.licence_required" />
            </div>

            <PrimaryButton class="w-full" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Crear Vehículo
            </PrimaryButton>
        </form>
    </div>
    </AppLayout>
</template>
