<script setup>
import {Head, useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import {ref} from 'vue';

// Suponiendo que los datos del vehículo se pasen como prop al cargar la página
const props = defineProps({
    vehicle: Object
});

const form = useForm({
    id: props.vehicle.id,
    brand: props.vehicle.brand,
    plate: props.vehicle.plate,
    licence_required: props.vehicle.licence_required,
});

const submit = () => {
    if (form.licence_required.length !== 1) {
        form.setError('licence_required', 'Debe ser exactamente 1 carácter');
        return;
    }

    form.put(route('vehicles.update', form.id), {
        preserveScroll: true,
        onSuccess: () => form.reset('brand', 'plate', 'licence_required'),
    });
};
</script>

<template>
    <AppLayout title="Vehiculos">
        <Head title="Editar Vehículo"/>

        <div class="max-w-2xl mx-auto py-10">
            <form @submit.prevent="submit" class="space-y-6">
                <!-- Campo Marca -->
                <div>
                    <InputLabel for="brand" value="Marca"/>
                    <TextInput id="brand" v-model="form.brand" type="text" class="mt-1 block w-full" required
                               autofocus/>
                    <InputError class="mt-2" :message="form.errors.brand"/>
                </div>

                <!-- Campo Placa -->
                <div class="mt-4">
                    <InputLabel for="plate" value="Placa"/>
                    <TextInput id="plate" v-model="form.plate" type="text" class="mt-1 block w-full" required/>
                    <InputError class="mt-2" :message="form.errors.plate"/>
                </div>

                <!-- Campo Licencia Requerida -->
                <div class="mt-4">
                    <InputLabel for="licence_required" value="Licencia Requerida"/>
                    <TextInput id="licence_required" v-model="form.licence_required" type="text"
                               class="mt-1 block w-full" maxlength="1" required/>
                    <InputError class="mt-2" :message="form.errors.licence_required"/>
                </div>

                <!-- Botón de Envío -->
                <PrimaryButton class="w-full" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Actualizar Vehículo
                </PrimaryButton>
            </form>
        </div>
    </AppLayout>
</template>
