<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <h1 class="text-2xl font-bold text-gray-800">Bienvenido al Sistema de Administración</h1>
                    <p class="mt-4 text-lg text-gray-600">
                        Aquí puedes administrar tus vehículos, viajes y conductores de forma eficiente y sencilla. Explora las diversas funciones y herramientas que ofrecemos para facilitar la gestión de tu flota y operaciones.
                    </p>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
