<script setup>
    import { Head, Link } from '@inertiajs/vue3';

    defineProps({
        canLogin: {
            type: Boolean,
            required: true
        },
        canRegister: {
            type: Boolean,
            required: true
        },
    });
</script>

<template>
    <Head title="Bienvenido" />
    <div class="flex min-h-screen flex-col items-center justify-center bg-white text-gray-800">
        <!-- Navigation -->
        <nav class="absolute top-0 right-0 mt-4 mr-4 flex space-x-4">
            <Link v-if="$page.props.auth.user" :href="route('dashboard')" class="px-4 py-2 text-gray-600 hover:text-gray-500">
                Dashboard
            </Link>
            <template v-else>
                <Link :href="route('login')" class="px-4 py-2 text-gray-600 hover:text-gray-500">
                    Log in
                </Link>
                <Link v-if="canRegister" :href="route('register')" class="px-4 py-2 text-gray-600 hover:text-gray-500">
                    Register
                </Link>
            </template>
        </nav>

        <!-- Main Content -->
        <div class="text-center">
            <h1 class="text-4xl font-bold">
                Bienvenido a Xalok Travel Driver
            </h1>
            <p class="mt-3 text-lg">
                Descubre todas las funciones que ofrecemos.
            </p>
        </div>
    </div>
</template>
