<script setup>
import { ref } from 'vue';
import { Head, useForm } from '@inertiajs/vue3';
import AppLayout from '@/Layouts/AppLayout.vue';
import axios from 'axios';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';


// Estados para controlar los pasos del formulario
const step = ref(1);
const availableVehicles = ref([]);
const availableDrivers = ref([]);
const selectedVehicle = ref(null);
const selectedDriver = ref(null);

const form = useForm({
    date: '',
    vehicle_id: '',
    driver_id: '',
});

function fetchAvailableVehicles() {
    if (form.date) {
        axios.get(`/api/vehicles/available/${form.date}`)
            .then(response => {
                availableVehicles.value = response.data;
                step.value = 2;
            });
    }
}

function selectVehicle() {
    const vehicle = selectedVehicle.value;

    // Establece el vehicle_id en el formulario para el envío
    form.vehicle_id = vehicle.id;

    // Realiza la solicitud axios para obtener los conductores disponibles
    axios.get(`/api/drivers/available/${form.date.value}/${vehicle.id}`)
        .then(response => {
            availableDrivers.value = response.data;
            step.value = 3; // Avanza al paso de selección de conductor
        });
}

function selectDriver() {
    // Similar a selectVehicle, asegúra que el conductor seleccionado se está obteniendo correctamente del select
    const driver = selectedDriver.value;

    // Establece el driver_id en el formulario para el envío
    form.driver_id = driver.id;

    step.value = 4; // Avanza al paso final del formulario para confirmar la reserva
}

const submit = () => {
    if (form.vehicle_id && form.driver_id) {
        form.post(route('reservations.store'), {
            onFinish: () => {
                form.reset('date', 'vehicle_id', 'driver_id');
                step.value = 1; // Reiniciar el paso para una nueva reserva
            },
        });
    }
};
</script>

<template>
    <AppLayout title="Crear Reservación">
        <Head title="Crear Reservación" />
        <div class="max-w-2xl mx-auto py-10">
            <form @submit.prevent="submit" class="space-y-6">
                <!-- Paso 1: Seleccionar Fecha -->
                <div v-if="step >= 1" class="mt-4">
                    <InputLabel for="date" value="Fecha" />
                    <TextInput
                        id="date"
                        type="date"
                        v-model="form.date"
                        @change="fetchAvailableVehicles"
                        :disabled="step !== 1"
                        class="mt-1 block w-full"
                        required
                    />
                </div>

                <!-- Paso 2: Seleccionar Vehículo -->
                <div v-if="step >= 2" class="mt-4">
                    <InputLabel for="vehicle" value="Vehículo" />
                    <select v-model="selectedVehicle" @change="selectVehicle" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option v-for="vehicle in availableVehicles" :key="vehicle.id" :value="vehicle">
                            {{ vehicle.brand }} - {{ vehicle.plate }}
                        </option>
                    </select>
                </div>

                <!-- Paso 3: Seleccionar Conductor -->
                <div v-if="step >= 3" class="mt-4">
                    <InputLabel for="driver" value="Conductor" />
                    <select v-model="selectedDriver" @change="selectDriver" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option v-for="driver in availableDrivers" :key="driver.id" :value="driver">
                            {{ driver.name }}
                        </option>
                    </select>
                </div>

                <!-- Paso Final: Confirmar Reserva -->
                <div v-if="step === 4" class="mt-4">
                    <p>Reserva para: {{ form.date }}</p>
                    <p>Vehículo: {{ selectedVehicle.brand }} - {{ selectedVehicle.plate }}</p>
                    <p>Conductor: {{ selectedDriver.name }}</p>
                    <PrimaryButton class="w-full" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Confirmar Reserva
                    </PrimaryButton>
                </div>
            </form>
        </div>
    </AppLayout>
</template>

