<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
const form = useForm({
    name: '',
    surname: '',
    licence: '',
});

const submit = () => {
    form.post(route('drivers.store'), {
        onFinish: () => form.reset('name', 'surname', 'licence'),
    });
};
</script>

<template>
    <AppLayout title="Conductores">
    <Head title="Crear Conductor" />

    <div class="max-w-2xl mx-auto py-10">
        <form @submit.prevent="submit" class="space-y-6">
            <div>
                <InputLabel for="name" value="Nombre" />
                <TextInput
                    id="name"
                    v-model="form.name"
                    type="text"
                    class="mt-1 block w-full"
                    required
                    autofocus
                />
                <InputError class="mt-2" :message="form.errors.name" />
            </div>

            <div class="mt-4">
                <InputLabel for="surname" value="Apellido" />
                <TextInput
                    id="surname"
                    v-model="form.surname"
                    type="text"
                    class="mt-1 block w-full"
                    required
                />
                <InputError class="mt-2" :message="form.errors.surname" />
            </div>

            <div class="mt-4">
                <InputLabel for="licence" value="Licencia" />
                <TextInput
                    id="licence"
                    v-model="form.licence"
                    type="text"
                    class="mt-1 block w-full"
                    required
                    maxlength="1"
                />
                <InputError class="mt-2" :message="form.errors.licence" />
            </div>

            <PrimaryButton class="w-full" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Crear Conductor
            </PrimaryButton>
        </form>
    </div>
    </AppLayout>
</template>
