<script setup>
import {Head, useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import {ref} from 'vue';

// Suponiendo que los datos del vehículo se pasen como prop al cargar la página
const props = defineProps({
    driver: Object
});

const form = useForm({
    id: props.driver.id,
    name: props.driver.name,
    surname: props.driver.surname,
    licence: props.driver.licence,
});

const submit = () => {
    if (form.licence.length !== 1) {
        form.setError('licence', 'Debe ser exactamente 1 carácter');
        return;
    }

    form.put(route('drivers.update', form.id), {
        preserveScroll: true,
        onSuccess: () => form.reset('name', 'surname', 'licence'),
    });
};
</script>

<template>
    <AppLayout title="Conductores">
        <Head title="Editar Conductor"/>

        <div class="max-w-2xl mx-auto py-10">
            <form @submit.prevent="submit" class="space-y-6">
                <!-- Campo nombre -->
                <div>
                    <InputLabel for="name" value="Nombre"/>
                    <TextInput id="brand" v-model="form.name" type="text" class="mt-1 block w-full" required
                               autofocus/>
                    <InputError class="mt-2" :message="form.errors.name"/>
                </div>

                <!-- Campo apellido -->
                <div class="mt-4">
                    <InputLabel for="surname" value="Apellido"/>
                    <TextInput id="surname" v-model="form.surname" type="text" class="mt-1 block w-full" required/>
                    <InputError class="mt-2" :message="form.errors.surname"/>
                </div>

                <!-- Campo Licencia -->
                <div class="mt-4">
                    <InputLabel for="licence" value="Licencia"/>
                    <TextInput id="licence" v-model="form.licence" type="text"
                               class="mt-1 block w-full" maxlength="1" required/>
                    <InputError class="mt-2" :message="form.errors.licence"/>
                </div>

                <!-- Botón de Envío -->
                <PrimaryButton class="w-full" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    Actualizar Conductor
                </PrimaryButton>
            </form>
        </div>
    </AppLayout>
</template>
