<template>
    <AppLayout title="Vehiculos">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between items-center mt-8">
                    <h1 class="text-2xl font-semibold text-gray-900">Vehículos</h1>
                    <Link :href="route('drivers.create')"
                          class="mr-4 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700">
                        Crear Nuevo Conductor
                    </Link>
                </div>
                <div class="flex flex-col mt-4">
                    <div class="flex flex-col">
                        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                    <table class="min-w-full divide-y divide-gray-200">
                                        <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Nombre
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Apellido
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Licencia
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Opciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="bg-white divide-y divide-gray-200">
                                        <tr v-for="driver in drivers" :key="driver.id">
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ driver.name }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ driver.surname }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                {{ driver.licence }}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                                <a :href="route('drivers.show', driver.id)" class="text-indigo-600 hover:text-indigo-900 mr-4">Ver</a>
                                                <a :href="route('drivers.edit', driver.id)" class="text-indigo-600 hover:text-indigo-900 mr-4">Editar</a>
                                                <a @click="confirmDelete(driver.id)" class="text-red-600 hover:text-red-900 cursor-pointer">Borrar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>

<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Link,  } from '@inertiajs/vue3';
import { router } from '@inertiajs/vue3'

defineProps(['drivers']);

function confirmDelete(id) {
    if (confirm("¿Estás seguro de que quieres borrar este Conductor?")) {
        router.delete(route('drivers.destroy', id));
    }
}
</script>

<style scoped>

</style>
